.cart {
  padding: 2rem 1rem;
  min-height: 90vh;

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__title {
      margin: 1.1rem 0 0.75rem 0;
      color: black;
    }

    &__description {
      color: rgba(0, 0, 0, 0.55);
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
    }

    &__return {
      border: 1px solid #0071dc;
      color: #0071dc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;
      height: 2.75rem;
      padding: 0 1.5rem;
      font-size: 0.85rem;

      & > span > svg {
        display: flex;
        margin-left: 0.5rem;
      }
    }
  }

  &__info {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;

    & > h2 {
      margin-right: 0.4rem;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;

    @include breakpoint(md) {
      flex-direction: column;
    }
  }
  &__items {
    border-radius: 8px;
    width: calc(66.66% - 1rem);
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 1px 2px 1px #00000026;
    margin-bottom: 2rem;

    @include breakpoint(md) {
      width: 100%;
      margin-right: 0;
    }

    &__list {
      display: flex;
      align-items: flex-start;
      padding-block: 1.25rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);

      &:nth-child(1) {
        padding-top: 0;
      }

      &:nth-last-child(1) {
        border-bottom: 0;
        padding-bottom: 0;
      }

      &__img {
        & > a > picture > img {
          max-width: 100px;
          max-height: 100px;

          @include breakpoint(xs) {
            max-width: 70px;
            max-height: 70px;
          }
        }
      }

      &--left {
        display: flex;
        flex: 1;
      }

      &__quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 0.5rem;

        & > input[type='number'] {
          width: 34px;
          height: 1.5rem;
          text-align: center;
          font-weight: 700;
          margin-block: 0.3rem;
          line-height: 1.5;
          outline: none;
        }

        &--increase,
        &--decrease {
          border: none;
          background-color: transparent;
          cursor: pointer;
          display: flex;

          &:hover {
            & > svg {
              fill: #0071dc;

              & > path {
                stroke: #fff;
              }
            }
          }
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;

        &__name {
          margin-bottom: 0.5rem;

          & > a {
            font-size: 1rem;
            color: black;
          }
        }

        &__color {
          font-size: 0.85rem;
          margin-top: 0.2rem;
          margin-bottom: 0.1rem;
          color: rgba(10, 11, 49, 0.75);

          & > span {
            color: rgba(0, 0, 0, 0.55);
          }
        }

        &__remove {
          background-color: transparent;
          border: none;
          cursor: pointer;
          text-align: left;
          width: fit-content;
          color: rgb(183, 183, 183);
          text-decoration: underline;
        }
      }
    }
  }

  &__checkout {
    width: calc(33.33% - 1rem);
    margin-left: 1rem;
    position: sticky;
    top: 50px;

    @include breakpoint(md) {
      width: 100%;
      margin-left: 0;
    }

    &__container {
      border-radius: 8px;
      box-shadow: 0 1px 2px 1px #00000026;
      padding-inline: 1rem;
    }

    &__continue {
      padding-block: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    }

    &__summary {
      padding-block: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);

      &--subtotal,
      &--discount,
      &--taxes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      &--subtotal,
      &--discount {
        margin-bottom: 1rem;
      }

      &--discount {
        &-value {
          color: rgb(67, 158, 74);
        }
      }
    }

    &__button {
      background-color: #0071dc;
      width: 100%;
      cursor: pointer;
      border-radius: 0.5rem;
      height: 2.75rem;
      padding: 0 1.5rem;
      color: #fff;
      font-size: 0.85rem;
      letter-spacing: 0.25px;
      font-weight: 700;
    }

    &__estimated__total {
      padding-block: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
