.details {
  padding-inline: 1rem;
  max-width: $container-max-width + 40px !important;
  min-height: 90vh;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 1px 2px 1px #00000026;
    border-radius: 8px;
    margin-top: 2rem;
    animation: fadeIn 0.25s ease-in-out;

    @include breakpoint(md) {
      flex-direction: column;
    }
  }

  &__image {
    width: calc(55% - 20px);
    overflow: hidden;
    padding: 1rem;
    border-right: 0.5px solid #acacac;

    @include breakpoint(md) {
      width: 100%;
      margin-inline: 0;
      margin-bottom: 1.5rem;
      border-right: 0;
      border-bottom: 0.5px solid #acacac;
    }
  }

  &__content {
    width: calc(50% - 20px);
    margin-inline: 10px;
    padding: 1.5rem;

    @include breakpoint(md) {
      width: 100%;
      margin-inline: 0;
    }

    @include breakpoint(xs) {
      padding-inline: 0.8rem;
    }

    &__brand {
      padding-bottom: 1rem;
    }
  }

  &__price__and__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    flex-direction: column;
    place-content: center;
    min-height: 40px;
    margin-top: 0.7rem;
    font-size: 1.35rem;
    font-weight: 700;

    &--regular {
      height: 1rem;
      margin-bottom: 0.35rem;
      font-size: 1rem;

      &-text {
        text-decoration: line-through;
        color: rgb(155, 155, 155);
      }
    }

    &--sale {
      line-height: 1.1rem;
      &-text {
        &-normal {
          color: #000;
        }
        &-discount {
          color: rgb(67, 158, 74);
        }
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    &__count {
      padding-top: 0.1rem;
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.7);
    }

    &__star {
      display: flex;
      align-items: center;

      &--stars {
        display: flex;
      }

      &--count {
        margin-right: 0.5rem;
        font-size: 1.15rem;
      }
    }
  }

  &__description {
    margin-block: 2rem;
  }

  &__btn {
    display: flex;
    margin-top: 2rem;

    &--add-favorites {
      width: unset;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;

      &:disabled {
        border: 1px solid gray;
        cursor: not-allowed;

        & > svg path {
          stroke: gray !important;
        }
      }

      & > svg {
        display: flex;
      }
    }
  }

  &__info {
    box-shadow: 0 1px 2px 1px #00000026;
    border-radius: 8px;
    padding: 1rem;
    margin: 3.5rem 0;

    @include breakpoint(xs) {
      padding: 1rem 0;
    }

    &__heading {
      font-weight: 700;
      font-size: 1.6rem;
      padding-bottom: 2rem;
      color: rgb(9, 35, 60);
      padding-inline: 1rem;
    }
  }

  &__specification {
    padding-bottom: 3rem;
    border-bottom: 0.25px solid #c1c1c1;

    &__list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

      &__item {
        margin-inline: 0.5rem;
        margin-block: 1rem;
        padding-block: 0.5rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        width: calc(100% / 6 - 20px);
        min-height: 120px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        @include breakpoint(md) {
          width: calc(100% / 5 - 20px);
        }

        @include breakpoint(sm) {
          width: calc(100% / 3.5 - 10px);
        }

        @include breakpoint(xs) {
          width: calc(100% / 2.5 + 3%);
        }

        &--title {
          min-height: 1.5rem;
          text-align: center;
          line-height: 1.2;
          align-items: flex-start;
          display: flex;
          font-size: 0.8rem;
          font-weight: 700;
          color: #305c83;
          text-transform: uppercase;
          letter-spacing: -0.5px;
        }

        &--img {
          width: 2.2rem;
          height: 2.2rem;
          object-fit: contain;
        }

        &--desc {
          min-height: 1.5rem;
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 0.5px;
          text-align: center;
          align-items: flex-end;
          display: flex;
        }
      }
    }
  }

  &__reviews {
    padding: 3rem 0 2rem 0;

    &__rating {
      display: flex;
      align-items: center;
      width: 100%;
      padding-inline: 1.1rem;

      @include breakpoint(xs) {
        flex-direction: column;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        width: 300px;

        @include breakpoint(xs) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }

      &__all {
        margin-top: 1rem;
        display: flex;

        &--btn {
          display: flex;
          align-items: center;
          justify-content: center;

          @include breakpoint(md) {
            padding: 0.75rem 0.75rem;
          }

          & > span {
            display: flex;
          }
        }
      }

      &__total {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 2px 1px #00000026;
        border-radius: 8px;
        padding: 1rem;

        &--text {
          font-size: 2.5rem;
          overflow: hidden;
          color: #0a3359;
          font-weight: 700;
        }

        &--star {
          width: 1.5rem;
          margin-block: 0.5rem;
        }

        &--count {
          font-size: 0.8rem;
          color: rgb(87, 85, 85);
        }
      }

      &__chart {
        width: inherit;
        padding-left: 3rem;

        @include breakpoint(xs) {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    &__review {
      padding: 2rem 1rem 0 1rem;
      margin-top: 3rem;

      @include breakpoint(xs) {
        margin-top: 0;
        padding: 2rem 0.5rem 0 0.5rem;
      }

      &__item {
        padding-inline: 1rem;
        padding-block: 2rem;

        &:nth-last-child(1) {
          padding-bottom: 0;
        }

        @include breakpoint(xs) {
          padding-inline: 0.5rem;
        }
      }

      &__user {
        display: flex;
        align-items: center;

        &--wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-grow: 1;
        }

        &__img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: '#f5f5f5';
        }

        &__name {
          padding-left: 0.75rem;

          &--text {
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            color: #0e253b;
          }

          &--icon {
            display: flex;
            margin-left: 0.25rem;

            @include breakpoint(xs) {
              display: none;
            }
          }
        }

        &__date {
          overflow: hidden;

          & > span {
            font-size: 0.85rem;
            letter-spacing: -0.5px;
            color: rgb(81, 80, 80);
          }
        }
      }

      &__comment {
        margin-top: 2rem;

        &--text {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
