@import './globals/';
@import './components/';
@import './pages/';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

body {
  background-color: #fefefe;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}
