.my__swiper {
  &__top {
    height: 80%;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__bottom {
    max-width: 550px;
    height: 20%;

    @include breakpoint(xs) {
      max-width: 100%;
    }

    & > .swiper-wrapper {
      justify-content: center;
    }

    img {
      width: 40px !important;
      height: 40px !important;
    }
  }
}

.swiper-slide-visible {
  padding: 0.75rem 0;
  border: 1.5px solid transparent;
  cursor: pointer;

  @include breakpoint(xs) {
    padding: 0.25rem 0;
    width: 50px !important;
  }
}

.swiper-slide-thumb-active {
  border: 1.5px solid #96acc1;
  border-radius: 8px;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  max-width: 410px;
  max-height: 410px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 8px;

  @include breakpoint(xs) {
    width: 100%;
  }
}
